$teal: #66E2DC;
$dark-orange: #FA7453;
$light-orange: #FFB964;
$white: #FCFAF9;
$black: #191826;
// $outrageous-orange: #FF6F48;
// $ultramarine-blue: #4851FF;
// $bg-gradient-1: linear-gradient(180deg, $frostbite 0.04%, $outrageous-orange 100%);
// $bg-gradient-2: linear-gradient(180deg, $ultramarine-blue 0%, $frostbite 99.92%);