@use './breakpoints'as *;
@use './colors'as *;

@mixin btn-style {
  padding: 0.9375rem 0 0.875rem;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.75rem;
  border: transparent;
  margin: 0 0 1rem;
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.18px;

  img {
    padding: 0 7.92px 0 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

footer, header, nav, section, main{
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  overflow-x: hidden;
  color: $black;

  @include lg {
    font-size: 20px;
    line-height: 34px;
  }
}

header {
  padding: 0 1.5rem 11rem;
  overflow: hidden;
  position: relative;

  @include md {
    padding: 0 2.5rem 11rem;
  }

  @include lg {
    padding: 0 0 19.75rem 10.3125rem;
  }

  .bg-image-container {
    #bg-main-mobile {
      position: absolute;
      top: -14.0625rem;
      left: 0;

      @include md {
        display: none;
      }
    }

    #bg-main-tablet {
      display: none;

      @include md {
      display: block;
      position: absolute;
      top: -17.0625rem;
      left: -20.0625rem;
      }

      @include lg {
        display: none;
      }
    }

    #bg-pattern-1 {
      display: none;

      @include md {
        display: block;
        position: absolute;
        width: 16.73rem;
        top: -2rem;
        right: -2.3rem;
      }

      @include lg {
        width: 19.5rem;
        right: 0;

      }
    }

    #bg-main-desktop {
      display: none;

      @include lg {
      display: block;
      position: absolute;
      top: -19.0625rem;
      left: -17.5rem;
      }
    }
  }

  nav {
    padding: 2.0625rem 0 4rem;
  }

  .top-content {
    h1 {
      color: $black;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.45px;

      @include md {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: 0.73px;
        width: 70%;
        margin: 2.75rem 0 0;
      }

      @include lg {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;        
      }
    }

    p {
      padding: 1.25rem 0.4px 0 0;
      width: 325px;
      font-size: 16px;

      @include md {
        font-size: 18px;
        line-height: 28px;
        width: 74%;
      }

      @include lg {
        font-size: 20px;
        line-height: 34px;
        width: 65%;  
      }
    }
  }
}

main {
  
  .mid-background {
    background: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;

    @include md {
      margin: 0 39px 0 33px;
      min-height: 37.5rem;
    }

    #phone {
      width: 55.73%;
      object-fit: contain;
      align-items: center;
      margin: -100px 0 0;
      z-index: 1;

      @include md {
        width: 35.185%;
        margin: -8.125rem 20rem 0 0;
      }
    }

    #bg-pattern-2 {
      width: 75%;
      margin: -20rem 0 0;
      object-fit: cover; 

      @include md {
        width: 42%;
        margin: -26rem 0.3rem 0 0;
      }
    }
  }

  .pricing-card {    
    color: $white;
    background-color: $dark-orange;
    padding: 0 37px 0 36px;
    margin: -2.7rem 0 0;
    z-index: 20;
    border-radius: 12px;
    position: relative;

    @include md {
      margin: -28.3rem 16.2rem 0;
      width: 55%;
    }

    h2 {
      color: $white;
      font-size: 32px;
      line-height: 40px;
      padding: 2.625rem 0 0.75rem;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      padding: 0 0 2.25rem;
    }

    p:last-child {
      padding: 0;
    }

    .price {
      display: flex;
      vertical-align: middle;

      h3 {
        font-size: 4.0625rem;
        line-height: 3.25rem;
        font-weight: 700;
        padding: 0 0 2rem;
      }

      p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: -0.2px;
        margin: 0.625rem 0 0 1rem;
      }


    }

    .btn-container {
      display: flex;
      flex-direction: column;
      padding: 0 0 2rem;

      button:first-child {
        background: $black;
        color: $white;
        @include btn-style()
      }

      button:nth-child(2) {
        background: $white;
        color: $black;
        @include btn-style()
      }
    }


  }
  
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: $black;
}

footer {
  padding: 4rem 1.5rem 5rem;

  @include md {
    padding: 5.4375rem 2.4375rem 5.3125rem 2.0625rem;
  }

  .footer-container {
    @include md {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .footer-content {
      padding: 2rem 0 4rem;

      @include md {
        padding: 2rem 0 0;
      }
      
      p {
        @include md {
          width: 67%;
        }
      }

  
      span {
        font-weight: 700;
      }
    }
  }

  .social-icons {
    display: flex;
    object-fit: cover;

    img {
      padding: 0 1rem 0 0;
    }

    @include md {
      margin: 0 0 -1.5rem;  

      img {
        padding: 0 0 0 1.25rem;
      }
    }
  }
}